*  {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.pagina{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.cabecalho {
	display: flex;
	background: #D8DFE8;
	width: 100vw;
}

.logo-alura {
	margin: 40px;
	width: fit-content;
	height: 48px;
}

.titulo {
    width: 70%;
    vertical-align: top;
    margin-top: 40px;
    color: #0A3871;
}

.principal {
	background: linear-gradient(#D8DFE8,#0A3871);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100vw;
	height: 80vh;
}

.criptografar {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 600px;
	height: 100%;
	padding-left: 20px;
}

.texto-e-aviso{
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}

.input-texto{
	background: no-repeat;
	border: none;
	border-radius: 10px;
	height: 100%;
	line-height: 150%;
	color: #0A3871;
	font-size: 32px;
	padding-left: 10px;
}

.aviso{
	color: #D8DFE8;
	font-size: 16px;
	padding: 10px;
}

.botoes {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.botao-criptografar {
	width: 200px;
	height: 50px;

	background: #0A3871;
	border-radius: 24px;
	border: none;

	color: #FFFFFF;
	font-size: 16px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.botao-descriptografar {
	width: 200px;
	height: 50px;

	background: #D8DFE8;
	border: 2px solid #0A3871;
	border-radius: 24px;

	color: #0A3871;
	font-size: 16px;
	line-height: 19px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.criptografado {
	width: 400px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.saida-texto {
	font-size: 24px;

	width: 100%;
	height: 100%;
	padding: 10px;

	border-radius: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.botao-copiar{
	width: 200px;
	height: 50px;

	background: #D8DFE8;
	border: 1px solid #0A3871;
	border-radius: 24px;

	margin-top: 40px;
	color: #0A3871;
	font-size: 16px;
	line-height: 19px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.botao-copiar:hover, .botao-criptografar:hover, .botao-descriptografar:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.rodape{
	display: flex;
	background: #0A3871;
	width: 100vw;
	padding: 20px;
	justify-content: center;
}
footer p {
	font-size: 0.8em;
	text-align: center;
	color: #FFFFFF;
}
a {
	color: #FFFFFF;
}